-var pageTitle='HomePage';
<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Front-End ultimate practical Course
    meta(name='viewport' content='width=device-width, initial-scale=1')
    include pug/layout/styles
  body
    .page.home-page
      include pug/layout/sidebar
      .content-area
        include pug/layout/header
        h1 #{pageTitle} 
    include pug/layout/scripts
