-var pageTitle='HomePage';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/styles
  body
    .page.home-page
      include pug/layout/sidebar
      .content-area
        include pug/layout/header
        .container-fluid 
          .content 
            h1.page-title #{pageTitle}
            p.page-description This is Description of #{pageTitle}
    include pug/layout/scripts
