.settings-box.hide-settings 
    .toggle-settings 
        i.fa.fa-gear.fa-lg 
    .setting-content.text-center 
        .option-box.color-options 
            h3.option-title Color Options
            - var themes=["green-theme","blue-theme","red-theme","orange-theme","purple-theme"]
            ul.list-unstyled 
                each theme in themes
                    if(theme=="green-theme") 
                        li(class="active" data-theme=theme)
                    else 
                        li(data-theme=theme)
        .option-box.font-options
            h3.option-title Font Options
                - var fonts=["open","roboto","merriweather","alumni"]
            select.form-control
                each font in fonts
                    option(value=font)=font +" font"
        .option-box 
            h3.option-title Sidebar Options