.settings-box.hide-settings 
    .toggle-settings 
        i.fa.fa-gear.fa-lg 
    .setting-content 
        .option-box 
            h3 Color Options
        .option-box 
            h3 Font Options
        .option-box 
            h3 Sidebar Options